button.info{
  left: 1180px;
  top:20px;
  width:150px;
  height:60px;
  border-radius: 7px;
  background-color: orangered;
  color:white;
  border:none;  
  margin-left:10px;      
}
#bottomframe1{
  position:absolute;
  background-color: black;
  width:100%;
  height:300px;
  padding:30px;
  margin-top:50%;
  font-family:Verdana, Tahoma, sans-serif; 
}
button{
  border: none;
  border-radius:50%;
  width:70px;
  height:70px;
  background-color:#070D0D;
  margin-right:100px;
  margin-left:100px;
}
button:hover{
  background-color:orangered;
}
.iconbox{
  width:260px;
  height:200px;
  float:left;
  background-color: none;
  border-radius:8px;
  margin-right: 38px;
  padding:8px;
  border:3px; 
}
img{
    color:black;
    width:40px;
    height:40px;
}
.text{
  font-family: Arial, sans-serif;
  text-align: center;
  font-size: 12px;
  color:#707070;
}
h2{
font-size:20px;
color:orangered;
}
/* continuaton */
.container1{
padding-bottom:1000px;
padding-top:1000px;

 } 
 
.container1 p{
  color:orangered;
  text-align:center;
  margin-top: 125px;
}
.container1 h1{
  text-align: center;
  color:white;
}
.box{
  width:360px;
  /* height:300px; */
  background-color: none;
  border:1px ridge lightgrey;
  transform:skew(-3deg,-3deg);
  float: left;
  margin-left:50px;
  text-align: center;
}
.box:hover{
  background-color: white;
  transition:0.3s ease-in-out;
 
}
 .box h1{
  text-align: center;
  color:white;
  transform: skew(3deg,3deg);
  font-size: 20px;
}
.box:hover h1{
  color: black;
  transition:0.3s ease-in-out;
}

.box h2{
  text-align: center;
  transform: skew(3deg,3deg);
  font-size: 60px;
  margin:0;
  color: orangered;
}
.box h3{
  text-align: center;
  transform: skew(3deg,3deg);
  font-size: 15px;
  margin:0;
  color: whitesmoke;
  text-transform: uppercase;
}
.box:hover h3{
  color: black;
  transition:0.3s ease-in-out;
}

.box p{
  text-align:center;
  color:#707070;
  transform: skew(3deg,3deg);
  margin-top:20px;
}

.box button{
  width:300px;
  height:50px;
  background-color:#707070;
  border-radius:1px;
  color:white;
  transform: skew(3deg,3deg);
  text-align:center;
  margin:30px;
  top:50%
} 

.box:hover button{
  background-color: orangered;
  transition:0.3s ease-in-out;
}
