body{
    background-color:#070D0D;
    margin: 0;
    padding: 0;
    font-family:'Poppins'; 
}  
.container {
    width:80%;
    margin: auto;
    overflow: hidden;
  }
header {
    background: url(/img/guy_gym3.jpg)100%;
    background-size:cover;
     width:100%;
    /* height:100%;  */
    position:absolute;
    background-position: center;
    background-repeat: no-repeat;
}

.logo{
    position: absolute;
    /* left:10px; */
    font-size:30px;
    color:beige;
    padding-left:10px;
    margin-top: 20px;


}

#links ul{
    margin: 0;
    padding:0px;
    list-style:none;
}

#links li{
    display: inline-block;
    margin: 7px;
}

#links a{
    text-decoration:none;
    color:beige;
    display:block;
    font-weight:bold;
    font-size:12px;
    text-align:center;
    margin-top:20px;
    }

#links a:hover{
    color:orangered;
    text-decoration:line-through;
    cursor:pointer;
} 
#icon{
    list-style:none; 
    display:flex; 
    float:right;
    border-left:1px solid beige;
    /* margin-right:100px; */
    margin-top:20px;
}

    #showcase{
        min-height: 300px;
        text-align: center;
        margin-top: 250px;
        color: white;
        margin-left: 800px;
        text-align: left;
        font-size: 30px;
      }

.button{
  left: 1180px;
  width:150px;
  height:50px;
  border-radius: 3px;
  background-color: orangered;
  color:white;
  border:none;  
  margin-left:10px;
 }

    #bottomframe1{
    position:absolute;
    background-color: black;
    width:100%;
    height:60%;
    margin-top:45%;
    font-family:Verdana; 
    }
    .bottombtn{
    border: none;
    border-radius:50%;
    width:70px;
    height:70px;
    background-color:#070D0D;
    margin-right:100px;
    margin-left:100px;
      }
.bottombtn:hover{
    background-color:orangered;
 }
.iconbox{
width:260px;
height:200px;
float:left;
background-color: none;
border-radius:8px;
margin-right: 38px;
padding:8px;
border:3px; 
}
img{
    color:black;
     width:40px;
    height:40px;
}
.bottomframe1 h2{
    font-family: sans-serif;
    text-align: center;
    font-size: 15px;
    color:beige;

}
.bottomframe1 p{
    font-family: sans-serif;
    text-align: center;
    font-size: 12px;
    color:#707070;
 }

 .container1{
    padding-bottom:1000px;
     padding-top:900px;
     font-family: sans-serif;
 } 
 .container1 p{
    color:orangered;
    text-align:center;
    margin-top: 125px;
  }

  .container1 h1{
    text-align: center;
    color:white;
  }
  .box{
    width:360px;
    height:400px;
    background-color: none;
    border:1px ridge lightgrey;
    transform:skew(-3deg,-3deg);
    float: left;
    margin-left:50px;
    text-align: center;

  }
  .box:hover{
    background-color: white;
    transition:0.3s ease-in-out;
   
  }
   .box h1{
    text-align: center;
    color:beige;
    transform: skew(3deg,3deg);
    font-size: 20px;
  }
  .box:hover h1{
    color: black;
    transition:0.3s ease-in-out;
  }
  
  .box h2{
    text-align: center;
    transform: skew(3deg,3deg);
    font-size: 60px;
    margin:0;
    color: orangered;
  }
  .box h3{
    text-align: center;
    transform: skew(3deg,3deg);
    font-size: 15px;
    margin:0;
    color: whitesmoke;
    text-transform: uppercase;
  }
  .box:hover h3{
    color: black;
    transition:0.3s ease-in-out;
  }
  
  .box p{
    text-align:center;
    color:#707070;
    transform: skew(3deg,3deg);
    margin-top:20px;
    margin:20px;
    font-family: arial;
    font-size: 15px;
  }
  
  .box button{
    width:300px;
    height:50px;
    background-color:#707070;
    border-radius:1px;
    color:white;
    transform: skew(3deg,3deg);
    text-align:center;
    margin:30px;
    top:50%
  } 
  
  .box:hover button{
    background-color: orangered;
    transition:0.3s ease-in-out;

  }
