body{
    background-color:#070D0D;
    margin: 0;
    padding: 0;
}  
.container {
    width:80%;
    margin: auto;
    overflow: hidden;
  }
header {
    background: url(/img/guy_gym3.jpg)100%;
    background-size:cover;
     width:100%;
    /* height:100%;  */
    position:absolute;
    background-position: center;
    background-repeat: no-repeat;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.logo{
    position: absolute;
    /* left:10px; */
    font-size:30px;
    color:beige;
    padding-left:10px;
    margin-top: 20px;


}

#links ul{
    margin: 0;
    padding:0px;
    list-style:none;
}

#links li{
    display: inline-block;
    margin: 7px;
}

#links a{
    text-decoration:none;
    color:beige;
    display:block;
    font-weight:bold;
    font-size:12px;
    text-align:center;
    margin-top:20px;
    }

#links a:hover{
    color:orangered;
    text-decoration:line-through;
    cursor:pointer;
} 
#icon{
    list-style:none; 
    display:flex; 
    float:right;
    border-left:1px solid beige;
    /* margin-right:100px; */
    margin-top:20px;
}
.text{
    margin-right:10%;
    margin-top:10%;
    color:beige;
    float:right;
    font-size:40px;
}
.button{
    width:150px;
    height:50px;
    background-color: orangered;
    color:white;
    border-radius:3px;
 }

    #bottomframe1{
        position:absolute;
        background-color: black;
        width:100%;
        height:50%;
        margin-top:40%;
        font-family:Verdana, Tahoma, sans-serif; 
    }
    .bottombtn{
        border: none;
        border-radius:50%;
        width:70px;
        height:70px;
        background-color:#070D0D;
        margin-right:100px;
        margin-left:100px;
      }
.bottombtn:hover{
    background-color:orangered;
 }
    .iconbox{
    width:260px;
    height:200px;
    float:left;
    background-color: none;
    border-radius:8px;
    margin-right: 38px;
    padding:8px;
    border:3px; 
      }
img{
    color:black;
     width:40px;
    height:40px;
}
.bottomframe1text{
    font-family: Arial, sans-serif;
    text-align: center;
    font-size: 10px;
    color:#707070;
 }
 .container1{
    width:100%;
    margin:0;
    padding-bottom: 200%;
 }  
 
 .container1 p{
    color:orangered;
    text-align:center;
  }
      

 
